$global--padding: 20px;
$global--margin: 10px;
$dark--bg-color: rgb(177, 169, 169);

.news--page{
    padding: $global--padding;
    margin: $global--margin;
    background-color: $dark--bg-color;
}
.preloader{
    position:absolute;
    top: 95px;
    left: 250px;
    width: 50px;
        img{
            width: 50px;
        }
    opacity: 0;    
    animation-name: preloader-image;
    animation-duration: 3s;
}
@keyframes preloader-image {
    0%{
        opacity: 100;
    }
    90%{
        opacity: 100%;
    }
    100%{
        opacity: 0;
    }
}